
main{
    display: flex;
    flex-direction: row;
}

aside{
    display: flex;
    flex-direction: column;
    background-color: #E7E0C9;
    width: 160px;
    margin: 10px 0px;
    padding: 10px;
    border-radius: 10px;
}

/*---Style sous-menu---*/
.sous_menu {
    background-color: #C1CFC0;
    border-radius: 4px; /* bordure arrondie */
    box-shadow: 5px -5px #879086;

}

.sous_menu h3{
    text-align: center;
    margin: 10px 0px 0px 0px;
}

.sous_menu ul{
    margin: 0px;
    padding: 10px;
}

/*Suppression des puces*/
.sous_menu li{
    list-style: none;
}

.sous_menu a{
    display: flex;
    justify-content: center; /* Centrer texte du menu */
    text-decoration: none;
    color: #000;
    padding: 0.3rem;
} 

/*Effet de survol*/
.sous_menu a:hover{
    background-color: whitesmoke;
    color: black;
    border-radius:4px;
}

/*----Fin de style du sous menu----*/

/*Style section dans aside*/
aside>section{
    background-color: #b3c4b2;
    margin-top: 50px;
    border-radius: 5px;
}

aside>section h4{
    text-align: center;
    background-color: #96ae95;
    margin: 15px 10px 0px 10px;
    border-radius: 10px;
}

aside>section p{
    margin: 20px;
}

/*Style toutes sections hors aside*/
div>section{
    padding: 10px;
    margin: 10px 0px 10px 10px;
    text-align: justify;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #6ca2b9;
}

/*Style tous les articles de .out_of_aside */
.out_of_aside article{
    background-color: #A0C3D2;
    box-shadow: 0px 0px 5px black;
    padding: 10px;
    margin: 10px;
}

/*Style tous les titres 2*/
h2{
    text-align: center;
    color: #000;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0px;
    margin-bottom: -5px;
}

/*Style tous les paragraphes */
p{
    text-align: justify;
}

/*---Style #def_escalade---*/
div>section:nth-child(1) article{
    border-radius: 50px;
}

div section p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*Style liste article*/
aside+div ul{
    list-style-type: circle;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 70px;
    margin-top: -10px;
}
/*---Fin de style #def_escalade---*/


/*---Style texte #risques---*/
/*Style de forme tous les articles*/

section:nth-child(2)>article:nth-child(1){
    border-radius: 45px;
}

section:nth-child(2)>article>p{
    margin: 20px;
}

/*Modification bord article 2*/
section:nth-child(2) article:nth-child(2){
    border-radius: 10% 15%;
    -webkit-border-radius: 50px;
}

section:nth-child(2) article:nth-child(2) p{
    margin: 30px;
}

/*Modification article 3*/
section:nth-child(2) article:nth-child(3){
    border-radius: 40px;
}
/*---Fin de style #risque---*/

/* Style texte handisport */
section:nth-child(3) article{
    border-radius: 50px;
}

section:nth-child(3) p{
    margin: 20px;
}

/*Style texte #phototheque*/
section:nth-child(4)>article{
    border-radius: 10% 10%;
}

section:nth-child(4) p{
    text-align: center;
    font-style: italic;
}

/*Bordure des images*/
img{
    border-radius: 10px;
}

/*Positionnement images */
.tous_images{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image1{
    padding: 30px 0px 0px 30px;
}

.image2{
    padding: 30px 30px 0px;
}

.image3{
    padding: 0px 0px 0px 40px;
}