/*---Redimensionnement pages---*/
body{
    display: grid;
    /* display grid --> centrer */
}

.wrap{
    width: 960px;
    justify-self: center;
}
/*---Fin redimensionnement pages---*/

/*---Style header---*/
header{
    background-image: url('../images/header.jpg');
    display: flex;
    height: 200px;
    justify-content: center; /*Centrer le texte horizontalement*/
    align-items: center; /*Centrer le texte verticalement*/
    flex-direction: column;
    border-radius: 4px 4px 0px 0px;
}

header h1 {
    color: black;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: 64px; /*Centrage titre et descente header*/
    margin-bottom: 50px; /* Centrage titre*/
}

/*Style menu*/
.menu {
    background-color: #11324D;
    border: 1px solid #000;
    border-radius: 4px 4px 0px 0px; /*bordure arrondie*/
    width: 960px;
}

.menu ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0.3rem;
    padding: 0.3rem;
}

.menu li{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu a{
    display: flex;
    margin: 0.3rem;
    text-decoration: none;
    color: #fff;
    padding: 0.3rem;
}

/*Changement en mode actif*/
.menu a.actif{
    background-color: whitesmoke;
    color: #000;
    border-color: #000;
    border-radius: 4px;
}

/* Effet de survol */
.menu a:hover{
    background-color: whitesmoke;
    color: #000;
    border-radius:4px;
}
/*---Fin style header---*/

/*---Style footer---*/
footer{
    display: flex;
    justify-content: flex-end;
    padding: 0.3rem;
    background-color: #11324D;
    color: #fff;
    border: 1px solid black;
    border-radius: 4px;
}

/*Style plan site*/
footer section{
    display: flex;
    flex-direction: row;
    background-color: #6B7AA1;
    border-radius: 3px;
}

.plan_site {
    width: 575px;
    margin-left: 70px;
}

.plan_site ul{
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 0.3rem;
    text-decoration: underline;
}

.plan_site li{
    list-style: none;
}

.plan_site a{
    display: flex;
    margin: 0.rem;
    text-decoration: none;
    color: #fff;
    padding: 0.5rem;
}

/* Effet de survol */
.plan_site a:hover{
    background-color: whitesmoke;
    color: #000;
    border-radius:4px;
}

footer p{
    margin: 40px 5px 0px 200px;
}
/*---Fin style footer---*/