/*---Style aside horizontal---*/
aside{
    display: flex;
    flex-direction: row-reverse;
    background-color: #967E76;
    margin: 10px 0px;
    padding: 10px;
    border-radius: 10px;
}

aside>p{
    text-align: justify;
    background-color: #EEE3CB;
    color: #25316D;
    font-size: medium;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    width: 480px;
    border-radius: 10px;
}

aside p~p{
    margin-top: 25px;
    height: 60px;
}

/*---Style sous-menu---*/
.sous_menu {
    background-color: #EEE3CB;
    width: 230px;
    border-radius: 20px; /*bordure arrondie*/
}

.sous_menu ul{
    margin: 10px;
    padding: 0px;
}

.sous_menu li{
    list-style: none;
}

.sous_menu a{
    display: flex;
    justify-content: center; /* Centrer texte du menu */
    text-decoration: none; 
    color: #000;
    padding: 0.3rem;
} 

/*Effet de survol*/
.sous_menu a:hover{
    background-color: whitesmoke;
    color: black;
    border-radius: 15px;
}
/*---Fin style sous-menu--- */


/*--Style hors aside---*/
article{   
    background-color: whitesmoke;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 5px solid #967E76;
}

article h2{
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    color: cadetblue;
    margin-top: 0px;
}   

article h2+p {
    margin-top: -30px;
    margin-left: 480px;
    font-style: italic;
}

article p{
    margin: 10px;
    text-align: justify;
}

/*Reposition & justifier listes*/
article ul{
    margin: 0px 10px;
    text-align: justify;
}

/*Changement de puces */
article li{
    list-style-image: url(../images/montagne.png) ;
}